[run]
source = apps
omit = 
    */migrations/*
    */tests.py
    */test_*.py
    */__pycache__/*
    */venv/*
    */virtualenv/*
    */static/*
    */media/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov

[xml]
output = coverage.xml
